*{
  font-family: monospace;  
}

.hiddenLink,
.hiddenLink:visited,
.hiddenLink:hover,
.hiddenLink:active {
    text-decoration: none;
    color: inherit;
}

.white{
  color: white;
}

.cleanClick {
    background: none;
    border: none;
    padding: 0;
}
